# Project exclude paths
/chapter01/akkademy-db-java/target/
/chapter01/akkademy-db-java/target/scala-2.11/classes/
/chapter01/akkademy-db-scala/target/
/chapter01/akkademy-db-scala/target/scala-2.11/classes/
/chapter01/target/
/chapter02/akkademy-db-client-java/target/
/chapter02/akkademy-db-client-java/target/scala-2.11/classes/
/chapter02/akkademy-db-client-scala/target/
/chapter02/akkademy-db-client-scala/target/scala-2.11/classes/
/chapter02/akkademy-db-java-2/target/
/chapter02/akkademy-db-java-2/target/scala-2.11/classes/
/chapter02/akkademy-db-scala-2/target/
/chapter02/akkademy-db-scala-2/target/scala-2.11/classes/
/chapter02/futures-examples-java/target/
/chapter02/futures-examples-java/target/scala-2.11/classes/
/chapter02/futures-examples-scala/target/
/chapter02/futures-examples-scala/target/scala-2.11/classes/
/chapter02/target/
/chapter03/akkademaid-java/target/
/chapter03/akkademaid-scala/target/
/chapter03/target/
/chapter04/akkademy-db-client-java-4/target/
/chapter04/akkademy-db-client-scala-4/target/
/chapter04/akkademy-db-java-4/target/
/chapter04/akkademy-db-scala-4/target/
/chapter04/function-examples-4/target/
/chapter04/function-examples-4/target/scala-2.11/classes/
/chapter04/target/
/chapter05/akkademaid-java-5/target/
/chapter05/akkademaid-scala-5/target/
/chapter05/target/
/chapter06/aakkademaid-client-java-6/target/
/chapter06/aakkademaid-client-scala-6/target/
/chapter06/aakkademaid-java-6/target/
/chapter06/aakkademaid-scala-6/target/
/chapter06/target/
/chapter07/mailbox-demo-java/target/
/chapter07/mailbox-demo-scala/target/
/chapter07/target/
/chapter08/target/
/out/
/project/target/
/target/